<mat-drawer-container class="container">
    <mat-drawer-content fxLayout="column" fxLayoutAlign="center center" style="width: 100%; height: 100%">
        <div fxFlex></div>
        <img src="assets/img/icons/detective.svg" class="detective-icon">
        <h1 class="mat-display-1 title">Stop!</h1>
        <span class="mat-body">Nie masz wystarczających uprawnień, by przeglądać tę stronę.</span>
        <div fxFlex></div>
        <p class="mat-small">Icons made by <a href="https://www.flaticon.com/authors/iconixar"
                title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/"
                title="Flaticon">www.flaticon.com</a></p>
    </mat-drawer-content>

</mat-drawer-container>