.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #81c2fa;
}

.wrapper {
  width: 94%;
  max-width: 1000px;
  margin: 8px;
}

td {
  text-align: center;
}

@media (max-width: 767.98px) {
  .sm-card-reduce-pd {
    padding: 12px 0 !important;
  }
}
