<mat-toolbar color="primary" fxLayout="row">
    <span>{{ (title | async) }}</span>
    <span fxFlex></span>
    <button mat-icon-button (click)="auth.logout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>

</mat-toolbar>
<mat-drawer-container class="container">
    <mat-drawer #drawer mode="side" opened>
        <mat-nav-list>
            <a *ngFor="let link of navList" mat-list-item [class.active]="link.isActive" [routerLink]="link.location">
                {{ link.label }}
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>