<div fxLayout="column" class="wrapper">
    <form [formGroup]="settingsForm">
        <mat-list style="width: 100%" role="list">
            <h1 class="mat-headline">Ustawienia powiadomień</h1>
            <h2 class="mat-title">Ustawienia powiadomień</h2>
            <h2 class="mat-subheading-1">Ustawienia powiadomień</h2>
            <h2 class="mat-subheading-2">Ustawienia powiadomień</h2>
            <h1 matHeader>Test test</h1>

            <mat-divider></mat-divider>
            <h2 matSubheader>Przedmioty</h2>
        </mat-list>
    </form>
</div>