<div class="bg"></div>
<div fxLayout="row" fxLayoutAlign="center stretch">
    <div class="wrapper">
        <mat-card class="sm-card-reduce-pd">
            <mat-card-title style="text-align: center;">
                Korepetycje MOSTowe <br /><br />
                formularz dla ucznia
            </mat-card-title>
            <mat-card-content style="width: 100%;">
                <mat-vertical-stepper #stepper linear style="width: 100%;">
                    <mat-step [stepControl]="contactForm">
                        <form [formGroup]="contactForm" fxLayout="column">
                            <ng-template matStepLabel>Twoje dane</ng-template>
                            <mat-form-field>
                                <mat-label>Imię i nazwisko</mat-label>
                                <input matInput formControlName="name" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Adres email</mat-label>
                                <input matInput formControlName="email" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Nr telefonu (opcjonalnie)</mat-label>
                                <input matInput formControlName="phone">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Szkoła i klasa</mat-label>
                                <input matInput formControlName="class" required>
                            </mat-form-field>

                            <mat-checkbox formControlName="isMature">Jestem pełnoletni/pełnoletnia</mat-checkbox>
                            <div style="padding-top: 16px;">
                                <button mat-raised-button color="accent" [disabled]="!contactForm.valid"
                                    matStepperNext>Dalej</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="parentForm">
                        <form [formGroup]="parentForm" fxLayout="column">
                            <ng-template matStepLabel>Dane rodzica (opcjonalnie)</ng-template>
                            <mat-form-field>
                                <mat-label>Imię i nazwisko</mat-label>
                                <input matInput formControlName="parentName">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Adres email</mat-label>
                                <input matInput formControlName="parentEmail">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Nr telefonu</mat-label>
                                <input matInput formControlName="parentPhone">
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutGap="8px">
                                <button mat-button matStepperPrevious>Wstecz</button>
                                <button mat-raised-button matStepperNext color="accent">Dalej</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="lessonsForm">
                        <form [formGroup]="lessonsForm" fxLayout="column" fxLayoutGap="8px">
                            <ng-template matStepLabel>Dane dot. korepetycji</ng-template>
                            <h1 class="mat-h1">Które przedmioty sprawiają ci trudność?</h1>
                            <div>
                                <multiselect-checkbox formControlName="needs" allowCustom="3"
                                    customPlaceholder="inny...">
                                </multiselect-checkbox>
                                <div *ngIf="lessonsForm.get('needs')!.invalid && (lessonsForm.get('needs')!.dirty || lessonsForm.get('needs')!.touched)"
                                    class="alert mat-small">Wybierz co najmniej 1 przedmiot
                                </div>
                            </div>

                            <div *ngIf="wybranePrzedmioty.length > 1" fxLayout="column" fxLayoutGap="8px">
                                <h2 class="mat-h2">A gdybyś mógł/mogła wybrać tylko jeden, to który?</h2>
                                <span class="mat-body-2">Czasami ciężko nam znaleźć korepetytora, który chciałby uczyć
                                    więcej niż jeden przedmiot. Oczywiście jeśli się taki znajdzie, to będziesz
                                    pierwszy/pierwsza w kolejce!</span>
                                <mat-radio-group fxLayout="column" formControlName="mainNeeds" fxLayoutGap="4px">
                                    <mat-radio-button *ngFor="let przedmiot of wybranePrzedmioty" [value]="przedmiot">
                                        {{ przedmiot }}</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <h1 class="mat-h1">Jaka forma korepetycji będzie najodpowiedniejsza? Zdalnie czy
                                stacjonarnie w Moście?</h1>

                            <mat-radio-group fxLayout="column" formControlName="remoteOrStationary" fxLayoutGap="4px">
                                <mat-radio-button [value]="5">Tylko zdalnie</mat-radio-button>
                                <mat-radio-button [value]="4">Wolę zdalnie, ale może być w Moście</mat-radio-button>
                                <mat-radio-button [value]="3">Bez różnicy</mat-radio-button>
                                <mat-radio-button [value]="2">Wolę w Moście, ale może być zdalnie</mat-radio-button>
                                <mat-radio-button [value]="1">Tylko w Moście</mat-radio-button>
                            </mat-radio-group>

                            <h1 class="mat-h1">Czy uczęszczałeś/uczęszczałaś już na korepetycje w Moście?</h1>

                            <mat-radio-group fxLayout="column" formControlName="alreadyAttended" fxLayoutGap="4px">
                                <mat-radio-button [value]="true">Tak</mat-radio-button>
                                <mat-radio-button [value]="false">Nie</mat-radio-button>
                            </mat-radio-group>

                            <h2 *ngIf="lessonsForm.get('alreadyAttended')?.value" class="mat-h2">A
                                pamiętasz imię i/lub nazwisko poprzedniego tutora?</h2>

                            <mat-form-field *ngIf="lessonsForm.get('alreadyAttended')?.value">
                                <mat-label>Imię i/lub nazwisko</mat-label>
                                <input matInput formControlName="previousTutor">
                            </mat-form-field>

                            <div fxLayout="row" fxLayoutGap="8px">
                                <button mat-button matStepperPrevious>Wstecz</button>
                                <button mat-raised-button matStepperNext color="accent"
                                    [disabled]="!lessonsForm?.valid">Dalej</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Klauzule informacyjne</ng-template>
                        <app-form-clauses [formGroup]="clausesForm">
                            <div fxLayout="row" fxLayoutGap="8px">
                                <button mat-button matStepperPrevious>Wstecz</button>
                                <button mat-raised-button matStepperNext color="accent" [disabled]="!clausesForm?.valid"
                                    (click)="submit()">Wyślij</button>
                            </div>
                        </app-form-clauses>
                    </mat-step>
                </mat-vertical-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>