.caption {
  padding-bottom: 7px;
  margin: 0;
}

.content {
  padding: 0.4375em 0 1.6875em;
  width: 180px;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  border-top: 0.84375em solid transparent;
  //   min-height: 56.56px;
}

.wrapper {
  width: 100%;
}

.icon {
  padding-bottom: 12px;
}
