.container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - 64px);
  @media (max-width: 599px) {
    height: calc(100vh - 56px);
  }
  //   margin: 12px;
  //   border: 1px solid #555;
}
