<h1 mat-dialog-title>Wystąpił błąd</h1>
<mat-dialog-content class="mat-typography">
    <p>Nie udało się zapisać twojego zgłoszenia. Najprawdopodobniej mamy już Twój adres
        email ({{data.email}}) - jeśli jeszcze się z Tobą nie skontaktowaliśmy, prosimy o cierpliwość. Jeśli jednak nie
        zgłaszałeś/zgłaszałaś się wcześniej, to odezwij się do nas na adres sda.most.korepetycje@gmail.com.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Zamknij</button>
</mat-dialog-actions>